 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/alina-grubnyak-IsxaFsXi2rs-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 863px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 234px 550px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 31px 550px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 130px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-text-1 {
  margin: 60px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 909px;
}

.u-section-3 .u-group-1 {
  width: 533px;
  min-height: 567px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
  margin: 29px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 60px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 29px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 522px;
  height: 567px;
  margin: -362px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-group-1 {
    width: 455px;
    min-height: 495px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 424px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/gambler_94-vPVEi17PxMo-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 554px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 367px auto 55px 70px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 712px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 541px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1079px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  width: 784px;
  margin: 56px auto 0;
}

.u-section-5 .u-list-1 {
  width: 550px;
  margin: 64px auto 0 590px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 563px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  background-image: none;
  margin: 22px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  background-image: none;
  margin: 22px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  background-image: none;
  margin: 22px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-9 {
  background-image: none;
  margin: 22px 0 0;
}

.u-section-5 .u-image-1 {
  width: 539px;
  height: 563px;
  object-position: 0% 50%;
  margin: -621px auto 0 0;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  margin: 120px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 355px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-sheet-1 {
  min-height: 1671px;
}

.u-section-6 .u-custom-html-1 {
  min-height: 758px;
  transition-duration: 0.5s;
  margin-top: -98px;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: normal;
  font-size: 1rem;
  grid-gap: 17px 17px;
  height: 552px;
  margin: 60px 97px;
}

.u-section-6 .u-text-2 {
  font-weight: normal;
  font-size: 1rem;
  grid-gap: 17px 17px;
  height: 552px;
  margin: 60px 97px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-6 {
  object-position: 51% 50%;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2515px;
  }
}

.u-section-6 .u-custom-html-1,
.u-section-6 .u-custom-html-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-7 .u-sheet-1 {
  min-height: 608px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 52px 206px 0 auto;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 428px;
  margin-top: 54px;
  margin-bottom: 41px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-custom-html-1 {
    margin-top: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-custom-html-1 {
    margin-top: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 98px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-top: 40px;
  }
} .u-section-8 {
  margin-top: 20px;
}

.u-section-8 .u-sheet-1 {
  min-height: 354px;
}

.u-section-8 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-15 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  margin-top: 20px;
}

.u-section-9 .u-sheet-1 {
  min-height: 632px;
}

.u-section-9 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 12px auto 32px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -36px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    margin-top: -16px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }
}